mixin header
  head
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/js/combiner.js" type="text/javascript")
    link(href="/css/style.css" rel="stylesheet" type="text/css")



mixin cardsView(cards)
  div.cardsView
    each card in cards
      +cardSingle(card)
    else
      p no cards found


mixin cardSingle(card)
  div.card
    h3 #{card.title}
    p #{card.comments}
    p
      em #{card.category}

mixin addForm(categories)
  form(method="POST" action="/addData" id="cardSubmit" onsubmit="submitForm('cardSubmit', 'addData')")
    div.formGroup
      label Card Title
      input(name="title" type="text")
    div.formGroup
      label Card Comments
      input(name="comments" type="text")
    div.formGroup
      label Card Category
      select(name="category")
        +outputCategoriesSelect(categories)
    div.formGroup
      input(type="submit" value="submit")

mixin filterForm
  p filters coming soon!

mixin categoriesForm
  form(method="POST" action="/addCategory" id="catSubmit" onsubmit="submitForm('catSubmit', 'addCategory')")
    div.formGroup
      label Category Name
      input(name="name" type="text")
    div.formGroup
      input(type="submit" value="submit")

mixin dataForm
  p data coming soon!

mixin menu(categories)
  div.menuBar
    div.container
      +menuModuleItem("Add", "addData")
      +menuModuleItem("Filter", "filterData")
      +menuModuleItem("Categories", "categorizeData")
      +menuModuleItem("Data", "manageData")
      div.moduleHolder(id="addData")
        +addForm(categories)
      div.moduleHolder(id="filterData")
        +filterForm
      div.moduleHolder(id="categorizeData")
        +categoriesForm
      div.moduleHolder(id="manageData")
        +dataForm


mixin menuModuleItem(name, id)
  a.item(onclick='toggleModule(' + id + ')' ) #{name}

mixin outputCategoriesSelect(categories)
  each category in categories
    option(value= category.id style="color: " + category.colour) #{category.name}
