mixin header
  head
    title Creative Combiner
    meta(charset="UTF-8")
    meta(name="description" content="Try the Creative Combiner!")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/js/combiner.js" type="text/javascript")
    link(href="/css/style.css" rel="stylesheet" type="text/css")



mixin cardsView(cards)
  div.cardsView
    each card in cards
      +cardSingle(card)
    else
      p no cards found


mixin cardSingle(card)
  div.card(style="background-color: " + card.category.colour)
    h3 #{card.title}
    p #{card.comments}
    p
      em #{card.category.name}

mixin addForm(categories)
  form(method="POST" action="/addData" id="cardSubmit" onsubmit="submitForm('cardSubmit', 'addData')")
    div.formGroup
      label Card Title
      input(name="title" type="text")
    div.formGroup
      label Card Comments
      input(name="comments" type="text")
    div.formGroup
      label Card Category
      select(name="category")
        +outputCategoriesSelect(categories)
      a(onclick='toggleModule(categorizeData)' class="intermoduleLink") + New Category
    div.formGroup
      input(class="submitButton" type="submit" value="submit")
      a(class="closeButton" onclick="closeModules(null)") Cancel

mixin categoriesForm
  form(method="POST" action="/addCategory" id="catSubmit" onsubmit="submitForm('catSubmit', 'addCategory')")
    div.formGroup
      label Category Name
      input(name="name" type="text")
    div.formGroup
      label Category Colour
      input(name="colour" type="color" value=defaultColour)
    div.formGroup
      input(class="submitButton" type="submit" value="submit")
      a(class="closeButton" onclick="closeModules(null)") Cancel

mixin filterForm(categories)
  form(method="GET" action="")
    div.formGroup
      label Category Name
      select(name="cat")
        option(value="") All
        +outputCategoriesSelect(categories)
    div.formGroup
      input(class="submitButton" type="submit" value="submit")
      a(class="closeButton" onclick="closeModules(null)") Cancel

mixin dataForm
  a(onclick="downloadJSONdata()") Download Data

mixin newTemplateForm
  form(method="POST" action="/addTemplate" id="addTemplate" onsubmit="submitForm('addTemplate', 'addTemplate')")
    div.formGroup
      label Template Name
      input(type="text" name="name")
    div.formGroup
      input(class="submitButton" type="submit" value="submit")
      a(class="closeButton" onclick="closeModules(null)") Cancel


mixin menuLibrary(categories)
  div.menuBar
    div.container
      +menuLinks
      +menuModuleItem("Add", "addData")
      +menuModuleItem("Filter", "filterData")
      +menuModuleItem("Categories", "categorizeData")
      +menuModuleItem("Data", "manageData")
      div.moduleHolder(id="addData")
        +addForm(categories)
      div.moduleHolder(id="filterData")
        +filterForm(categories)
      div.moduleHolder(id="categorizeData")
        +categoriesForm
      div.moduleHolder(id="manageData")
        +dataForm

mixin menuTemplates(categories)
  div.menuBar
    div.container
      +menuLinks

mixin menuCombiner(templates)
  div.menuBar
    div.container
      +menuLinks
      +menuModuleItem("Template", "chooseTemplate")




mixin menuLinks
  +menuPageItem("?", "/home")
  +menuPageItem("Library", "/library")
  +menuPageItem("Templates", "/templates")
  +menuPageItem("Combiner", "/combiner")
  a.menuSeperator |


mixin menuModuleItem(name, id)
  a.item(onclick='toggleModule(' + id + ')' ) #{name}

mixin menuPageItem(name, href)
  a.item(href=href class="link") #{name}

mixin undermenuSpace
  div.undermenuSpace

mixin outputCategoriesSelect(categories)
  each category in categories
    option(value= category.id style="color: " + category.colour) #{category.name}

mixin addTemplateComponentForm(categories)
  form(id="addTemplateComponentForm" class="moduleHolder" method="POST" action="/addTemplateComponent" onsubmit="submitForm('addTemplateComponentForm', 'addTemplateComponent')")
    div.formGroup
      label Category to Add
      select(name="category")
        +outputCategoriesSelect(categories)
    div.formGroup
      input(type="hidden" name="templateName" value="-1")
    div.formGroup
      input(class="submitButton" type="submit" value="submit")
      a(class="closeButton" onclick="closeModules(null)") Cancel

mixin templatesList(templates)
  div.templatesList
    each template in templates
      +template(template)

mixin template(template)
  div.template
    h3 #{template.name}
    +templateComponents(template)


mixin templateComponents(template)
  div.templateComponents
    each slot in template.slotsData
      +templateComponent(slot)
    div.templateComponent(onclick="openAddDialogue('" + template.name + "')" style="background-color:#fff; color: #444; border: 2px solid #444;")
      h2 +

mixin templateComponent(slot)
  div.templateComponent(style="background-color:#fff; color: " + slot.colour + "; border: 2px solid " + slot.colour + ";")
    p #{slot.name}

mixin combinationDisplay(combination)
  each component in combination
    p #{component.title}
